<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link href="../css/comter.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery-1.5.min.js"></script>
<script src="../js/conter.js"></script>
</head>

<body>
	<div class="navigation">当前位置：交易功能 > 代付业务录入</div>
	<div class="background">
		<div class="BoxCon">
			<div class="BoxTitle"><div  class="titName">实时单笔代扣</div></div>
			<div class="SubmitCon">
				<div class="introduce">委托代表是快钱为收款企业的个人或代理商必须掌握，如需要下来的话，那就先把钱交到企业方便，快捷支付给的是让一定的人先进行支付，
然后再以第三方代收费指数为目的金额，金额的一部人用来支付手续的压金贷款部分，之所以如此是因为当企业把一定交易的始入点进行再次
核对的时候，其实在这个过程中第三方已经将支付的额度调节成有最高抗压风险的行为了。</div>
				<table width="700" border="0" cellspacing="0" cellpadding="0" class="submitTable">
				  <tr>
					<td class="tdTitle"><span class="red">*</span>商家订单号：</td>
					<td class="tdValue"><input type="text"  class="inputText" size="30"/></td>
				  </tr>
				  <tr>
					<td class="tdTitle"> <span class="red">*</span>银行：				    </td>
					<td class="tdValue">
					<select class="SelectText">
						<option>中国银行</option>
					</select>
					</td>
				  </tr>
				  <tr>
					<td class="tdTitle"><span class="red">*</span>扣款账号：				    </td>
					<td class="tdValue"><input name="text2" type="text"  class="inputText" size="30"/></td>
				  </tr>
				  <tr>
					<td class="tdTitle">
				    <span class="red">*</span>账户类型：</td>
					<td class="tdValue"><select name="select" class="SelectText">
                      <option>个人借记卡账户</option>
                    </select></td>
				  </tr>
				  <tr>
					<td class="tdTitle"> <span class="red">*</span>姓名：</td>
					<td class="tdValue"><input name="text4" type="text"  class="inputText" size="20"/></td>
				  </tr>
				  <tr>
					<td class="tdTitle"> <span class="red">*</span>扣款金额：</td>
					<td class="tdValue"><input name="text5" type="text"  class="inputText" size="20"/></td>
				  </tr>
				  <tr>
					<td class="tdTitle"> <span class="red">*</span>付款人证件类型：				    </td>
					<td class="tdValue"><select name="select2" class="SelectText">
                      <option>身份证</option>
                    </select></td>
				  </tr>
				  <tr>
					<td class="tdTitle"><span class="red">*</span>付款人证件号码：</td>
					<td class="tdValue"><input name="text7" type="text"  class="inputText" size="30"/></td>
				  </tr>
				  <tr>
					<td class="tdTitle"> 有效期（MMYY）：				    </td>
					<td class="tdValue"><input name="text8" type="text"  class="inputText" size="20"/></td>
				  </tr>
				  <tr>
					<td class="tdTitle">用途：				    </td>
					<td class="tdValue"><input name="text9" type="text"  class="inputText" size="40"/></td>
				  </tr>
				  <tr>
					<td class="tdTitle">备注：</td>
					<td class="tdValue"><input name="text10" type="text"  class="inputText" size="40"/>        <a href="#" onclick="openWindow()">弹出窗</a> </td>
				  </tr>
			  </table>

			</div>
		</div>
		<div class="ButtPar">
<div style=" width:700px" align="center">
			<input type="button" value=" "  class="buttEnt" />&nbsp;&nbsp;
			<input type="reset" value=" " class="buttRest" />

		</div>
       </div>
	</div>
<!--弹出层-->
<div class="windowBg"></div>
<div class="winBox">
	<div class="winTiele">转账审核 <div class="close" onclick="closeWin()"></div></div>
	<div class="windowCon">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="winlistTable">
		  <tr>
			<td class="tdTitle">商户号：</td>
			<td class="tdValue">100001230123</td>
		  </tr>
		  <tr>
			<td class="tdTitle">商户名：				    </td>
			<td class="tdValue">夏威夷商贸有限公司</td>
		  </tr>
		  <tr>
		    <td class="tdTitle">账户名：</td>
		    <td class="tdValue">欧阳</td>
	      </tr>
		  <tr>
		    <td class="tdTitle">账户号：</td>
		    <td class="tdValue">1000123</td>
	      </tr>
		  <tr>
		    <td class="tdTitle">转账金额：</td>
		    <td class="tdValue">12.00</td>
	      </tr>
		  <tr>
		    <td class="tdTitle">转账说明：</td>
		    <td class="tdValue">买50个</td>
	      </tr>
		  <tr>
		    <td class="tdTitle">审核意见：<br />
		      （100个字以内）</td>
		    <td class="tdValue">
		        <textarea name="textarea" rows="6" style=" width:95%;"></textarea>		    </td>
	      </tr>
		  <tr>
		    <td colspan="2" align="center" class="ButtPar"><input type="button"  class="butPass" value=""/>&nbsp;<input type="button"class="butRefuse" value="" />&nbsp;<input type="button"class="butClose" value="" onclick="closeWin()"/></td>
	      </tr>
		</table>
	</div>
</div>
</body>
</html>
